$btnBorderRadius: 4px;
$btnBorder: 1px solid transparent;
$btnMargin: 0 8px 0;
$btn_defaul_Padding: 6px 8px;
$btn_small_Padding: 2px 10px;
$btn_large_Padding: 10px 15px;

$xiaowin_button_primary_color:#4C84FF;
$xiaowin_button_success_color:#52c41a;
$xiaowin_button_warning_color:#faad14;
$xiaowin_button_error_color:#ff4d4f;

$xiaowin_button_primary_color_hover:#40a9ff;
$xiaowin_button_success_color_hover:#73d13d;
$xiaowin_button_warning_color_hover:#ffc53d;
$xiaowin_button_error_color_hover:#ff7875;



.xiaowin-button {
  min-width: 60px;
  border-radius: $btnBorderRadius;
  border: $btnBorder;
  outline: none;
  appearance: none;
  text-align: center;
  margin: $btnMargin;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all .8s;
  box-sizing: border-box;

  &-size_default {
    padding: $btn_defaul_Padding;
    font-size: 16px;
  }

  &-size_small {
    padding: $btn_small_Padding;
    font-size: 14px;

  }

  &-size_large {
    padding: $btn_large_Padding;
    font-size: 18px;

  }

  &_default {
    background-color: white;
    color: #000000d9;
    border-color: #d9d9d9;

    &:hover {
      color: $xiaowin_button_primary_color;
      border-color: $xiaowin_button_primary_color_hover;
      transition: all .5s;
    }
  }

  &_primary {
    background-color: $xiaowin_button_primary_color;
    color: white;

    &:hover {
      background-color: $xiaowin_button_primary_color_hover;
      border-color: $xiaowin_button_primary_color_hover;
      transition: all .5s;
    }
  }

  &_success {
    background-color: $xiaowin_button_success_color;
    color: white;

    &:hover {
      background-color: $xiaowin_button_success_color_hover;
      border-color: $xiaowin_button_success_color_hover;
      transition: all .5s;
    }
  }

  &_error {
    background-color: $xiaowin_button_error_color;
    color: white;

    &:hover {
      background-color: $xiaowin_button_error_color_hover;
      border-color: $xiaowin_button_error_color_hover;
      transition: all .5s;
    }
  }

  &_warning {
    background-color: $xiaowin_button_warning_color;
    color: white;

    &:hover {
      background-color: $xiaowin_button_warning_color_hover;
      border-color: $xiaowin_button_warning_color_hover;
      transition: all .5s;
    }
  }


}
